@import url('./main-layout.css');
@import url('./views/contacts-view.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');    html {
      --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
      --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
      --lumo-border-radius-l: var(--lumo-size-m);

    }

    [theme~="dark"] {
      --lumo-base-color: hsla(257, 48%, 14%, 0.52);
      --lumo-success-text-color: hsl(145, 85%, 41%);

    }
